body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #eee; */
    background: linear-gradient(to bottom, #2f445e, #503052);
    margin: 0 auto;
    width: 750px;
    height: 100vh;
}

.album {
    cursor: pointer;
    height: 50vh;
    margin: 2rem;
}

.album img {
    border-radius: 1rem;
    height: 40vh;
    width: auto;
}

.album img:hover {
    height: 52vh;

    width: auto;
}

.icon {
    width: 64px;
    padding: 8px;
    height: auto;
    border: none;
    cursor: pointer;
}

button.icon-btn:hover {
    background-color: #aaa;
}

button.icon-btn {
    background-color: inherit;
    width: 100px;
    height: 100px;
    padding: 16px;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.info {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.info-title-name {
    font-size: 22px;
    margin: 0;
}

.info-artist-name {
    padding: 0;
    color: #ccc;
    margin-top: 0.4rem;
}

.progressbar {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 1rem;
}

.progress-times {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
}

.done-progress {
    height: 100%;
    width: 29%;
    border-radius: inherit;
    background-color: #ddd;
}

.current-progress {
    display: inline;
}

.bar {
    width: inherit;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 8px;
    background-color: #666;
}

.controlls {
    margin: 2rem 0;
}

.volume {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.soundbar {
    display: flex;
    align-items: center;
    background-color: #666;
    border-radius: 5px;
    width: 100%;
    height: 8px;
}

.current-pos {
    position: relative;
    right: 5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
}

.done-sound {
    background-color: #ddd;
    border-radius: 5px;
    width: 50%;
    height: 100%;
}

.small-icon {
    height: 40px;
    width: 40px;
}

button.btn-small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 8px;
}

.img-bigger {
    animation-name: imgAnimation;
    animation-duration: 0.5s;
}

.img-smaller {
    animation-name: imgDefault;
    animation-duration: 0.5s;
}

@keyframes imgAnimation {
    from {
        height: 40vh;
    }
    to {
        height: 52vh;
    }
}

@keyframes imgDefault {
    from {
        height: 52vh;
    }
    to {
        height: 40vh;
    }
}
